<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="page1">
            <div class="nav_bar">
                <div class="nav_bar1">
                    <h1>Coucher</h1>
                </div>
                <div class="nav_bar2">
                    <h4>service</h4>
                    <h4>about us</h4>
                    <h4>tell us</h4>
                </div>
                <div class="nav_bar3">
                    <h3>sign up</h3>
                </div>
            </div>

            <div class="midpart">
            <div class="left_side">
                <h1>Unlimited</h1>
                <h1>Prestigeous</h1>
                <h1>ideas</h1>
                <hr>
                <div class="bottomInfo">
                    <h4>our solutions</h4>
                    <h4>we provide the full <br>funnel approach</h4>
                </div>
            </div>
            <div class="right_side">
                <img src="image2.jpg" alt="">
            </div>
            </div>
        </div>

        <div class="page2">

            <div class="cards">
                <div class="card">
                    <h3>creativity</h3>
                    <h5>this is our creativity page and this is the description of that </h5>
                </div>
                <div class="card">
                    <h3>creativity</h3>
                    <h5>this is our creativity page and this is the description of that </h5>
                </div>
                <div class="card">
                    <h3>creativity</h3>
                    <h5>this is our creativity page and this is the description of that </h5>
                </div>
        </div>
        </div>

    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="script.js"></script>

</body>
</html>